{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Новости Школы-800</h1>

    <ul>
    {% for event in events %}
        <li>
            <div><img src="{{ asset('uploads/' ~ event.image) }}" alt="image" style="width: 200px;"></div>
            <div><h2>{{ event.title }}</h2></div>
            <div><p>{{ event.content }}</p></div>
        </li>
     {% endfor %}    
    </ul>
</div>
{% endblock %}
