{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


<div class="example-wrapper" style="position: relative;">
    <img class="contact-image" src="/img/main.jpg" alt="image">
    <div class="contact-block" >
        <div class="contact-content" >
            <div>Адрес:  Нижний Новгород, ул. Нижне-Печерская, 4А</div>
            <div>e-mail: vp@shkola800.ru</div>
            <div>телефон: 8-915-941-85-42</div>
        </div>

        <div class="contact-content" >
            <div>Адрес:  Нижний Новгород, Южный б-р, 23</div>
            <div>e-mail: avtozavod@shkola800.ru</div>
            <div>телефон: 8-915-941-69-22</div>
        </div>

        <div class="contact-content" >
            <div>Адрес:  Нижний Новгород, пр-т Кораблестроителей, 52к1</div>
            <div>e-mail: sormovo@shkola800.ru</div>
            <div>телефон: 8-915-941-44-50</div>
        </div>
    </div>
</div>
{% endblock %}
